.playerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.playerContainer div:nth-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
}

.playerContainer video:nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
}

.playerVideoWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.playerVeil {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
